<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
 
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <title>MHDP Full Calendar</title>

</head>
<body>
  <div class="calendar">
    <div class="title">
      <h1 class="titleh" style="color: #a36b4f">시승 신청이 실패 하였습니다 ㅠㅠ</h1><br>
      <hr style="font-weight: 300; margin-bottom: 30px;">
      <p style="margin-bottom: 5px;">※ 온라인 예약은 선착순으로 배정됩니다.</p>
      <p style="margin-bottom: 5px;">※ 제네시스 강남은 전시된 차량을 체험하는 상품 체험과 시승 체험을 운영합니다.</p>
      <p style="margin-bottom: 5px;">※ 예약 취소나 변경 시 꼭 방문매장으로 연락 주시길 바랍니다.</p>
      <hr style="font-weight: 300; margin-top: 30px;">
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block" onclick="location.href='../main'">
      처음 화면으로
    </button>
  </div>
</div>
  <!-- <script src="js/index.js"></script> -->
</body>
</html>