<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
 
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <title>MHDP Full Calendar</title>

  <script>
    var lastname = '<%= LastName%>';
    var title = '<%= title%>';

    let date = new Date();

    const renderCalender = () => {
      const viewYear = date.getFullYear();
      const viewMonth = date.getMonth();

      document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth + 1}월`;

      const prevLast = new Date(viewYear, viewMonth, 0);
      const thisLast = new Date(viewYear, viewMonth + 1, 0);

      const PLDate = prevLast.getDate();
      const PLDay = prevLast.getDay();

      const TLDate = thisLast.getDate();
      const TLDay = thisLast.getDay();

      const prevDates = [];
      const thisDates = [...Array(TLDate + 1).keys()].slice(1);
      const nextDates = [];

      let today = new Date();

      if (PLDay !== 6) {
        for (let i = 0; i < PLDay + 1; i++) {
          prevDates.unshift(' ');
        }
      }

      for (let i = 1; i < 7 - TLDay; i++) {
        nextDates.push(' ');
      }

      var month = viewMonth + 1;
      var monthint = month.toString();

      if (monthint.length == 1) {
        monthint = '0'+monthint;
      }

      const dates = prevDates.concat(thisDates, nextDates);
      const firstDateIndex = dates.indexOf(1);
      const lastDateIndex = dates.lastIndexOf(TLDate);

      dates.forEach((date, i) => {
        const condition = i >= firstDateIndex && i < lastDateIndex + 1
                          ? 'this'
                          : 'other';
        var date_str = date.toString();

        if(date_str.length == 1) {
          date_str = '0'+date_str;
        }

        if (parseInt(date) > today.getDate() || (viewMonth+1) > (today.getMonth()+1)) {
          if((i+7) % 7 == 0) {
            dates[i] = `<div class="date"><span class=${condition}><a href="http://192.168.0.210:3000/login/${monthint}/${date_str}?id=${title}" style="color: #D13E3E;">${date}</a></span>
              <span id=test></span></div>`;
          } else if ((i+7) % 7 == 6) {
            dates[i] = `<div class="date"><span class=${condition}><a href="http://192.168.0.210:3000/login/${monthint}/${date_str}?id=${title}" style="color: #396EE2;">${date}</a></span>
              <span id=test></span></div>`;
          } else {  
            dates[i] = `<div class="date"><span class=${condition}><a href="http://192.168.0.210:3000/login/${monthint}/${date_str}?id=${title}" style="color: #858796;">${date}</a></span>
              <span id=test></span></div>`;
          }
          
        } else {
          dates[i] = `<div class="date"><span class=${condition}>${date}</span>
                                        <span id=test></span></div>`;
        }
      });

      document.querySelector('.dates').innerHTML = dates.join('');

      if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
        for (let date of document.querySelectorAll('.this')) {
          if (+date.innerText === today.getDate()) {
            date.classList.add('today');
            break;
          }
        }
      }

    };

    const prevMonth = () => {
      date.setMonth(date.getMonth() - 1);
      renderCalender();
    };

    const nextMonth = () => {
      date.setMonth(date.getMonth() + 1);
      renderCalender();
    };

    const goToday = () => {
      date = new Date();
      renderCalender();
    };

    window.onload = function() {
      renderCalender();
    }
  </script>

  <script>
    function YnCheck(obj) {
      var checked = obj.checked;
      if(checked) {
        obj.value = "Y";
      } else {
        obj.value = "N";
      }
    }

    $(function() { // 자동 실행
      /* $('span.this.yes').click(function() {
        spread_in();
      }) */

      // $('#btn_spread').on('click', spread_in);
      $('#btn_play').on('click', btn_open);

      //alert($('#userno').val());
    });
  </script>

</head>
<body>
  <div class="calendar">
    <div class="title">
      <h1 class="titleh" style="color: #a36b4f">예약신청</h1><br>
      <hr style="font-weight: 300; margin-bottom: 30px;">
      <p style="margin-bottom: 5px;">※ 온라인 예약은 선착순으로 배정됩니다.</p>
      <p style="margin-bottom: 5px;">※ 제네시스 강남은 전시된 차량을 체험하는 상품 체험과 시승 체험을 운영합니다.</p>
      <p style="margin-bottom: 5px;">※ 6명 이상의 단체의 경우 반드시 전화(02-556-9870)로 문의하시기 바랍니다.</p>
      <p>※ 예약일 기준 한 달 전부터 예약이 가능합니다.</p>
      <hr style="font-weight: 300; margin-top: 30px;">
    </div>
    <div class="header">
      <div class="year-month"></div>
      <div style="margin-left: 7px; margin-bottom: 5px; color: slategray; font-size: 13px;">* 날짜를 클릭하여 시간을 선택해 주세요!</div>
      <div class="nav">
        <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
        <button class="nav-btn go-today" onclick="goToday()">Today</button>
        <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
      </div>
    </div>
    <div class="main">
      <div class="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
      <div class="dates" style="margin-bottom: 50px;"></div>
    </div>
    <div style="height: 300px;"></div>
  </div>
  <!-- <script src="js/index.js"></script> -->
</body>
</html>